
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html,body{padding: 0; margin: 0; font-size: 14px; font-family: "微软雅黑";}

.ce-pack-end{display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack:center;position: relative; top:0; left: 0;}

.luck-back{background-image: url(../img/back.jpg); background-size: cover; background-position: top center; position: absolute; height: 100%; width: 100%; color: #fff;margin:0 auto;}

.luck-content{width:1546px ; height:1036px; background: url("../img/back-left.png"); background-size:contain;background-position: top center; background-repeat:no-repeat;margin:0 auto; }

.luck-user{position: absolute;right: 4%;top: 21%;bottom: 2%;width: 400px;background-color: rgba(255,255,255,.2);border-radius: 5px;}
.luck-user-list{list-style-type: none;padding:0 20px;margin: 0;overflow-y:scroll;position: absolute;top: 50px;bottom: 33px;width: 100%;}
.luck-user-list>li{margin-top: 10px; position: relative;}

.luck-user-list>li div.portrait{height: 100px;width: 100px;border-radius: 5px;background-position: center;background-size: cover;margin-left: 10px;}
.luckuserName{line-height: 100px;position: absolute;top: 0;left:150px;right: 0;font-size: 23px;color: #DD0055;font-weight: bold;}

.luck-user-title{position: absolute; width: 90%; display: block; text-align: center; line-height: 50px; left: 5%; color: #FFFEB2; font-weight: bold;font-size: 28px;-webkit-text-stroke: 2px #D24A00;}
.luck-user-title::before{position: absolute;content: "";top: 100%;left: 0;width: 100%;background: -webkit-linear-gradient(left,rgba(248,215,59,0),#F592103a,rgba(248,215,59,0));height: 2px;}

.luck-user-btn{position: absolute; bottom: 20px; left: 5%; width: 90%; text-align: center; line-height: 40px; cursor: pointer;}

.luck-user-btn>a{background: #f29807; width: 100%; line-height: 60px; display: block; border-radius: 5px; text-decoration: none; color: #fff;font-size: 20px;}
.luck-user-btn>a:hover{background: #fcb842;font-size: 20px;}

.luck-title{text-align: center; margin-bottom: 20px;}

.luck-content-btn{width: 100%;text-align: center;line-height: 60px;padding-top: 50px;overflow: hidden;position: relative;top: 90px;left: -150px;}
.luck-content-btn a{background:url("../img/start-btn.png") no-repeat;width:250px;text-decoration: none;display: inline-block;color: #FFFEB2;text-align: center;margin: 0 10px;cursor: pointer;font-size: 30px;font-weight:bold;-webkit-text-stroke: 2px #D24A00;}
/*.luck-content-btn a:hover{background: #fcb842; }*/

.luck-title{font-size: 20px;}


.slotMachine{width: 555px;height: 555px;display: block;border-radius: 50% 50%;text-align: center;background-color: #ffffff;margin: 0 auto;border:#f5ad18 4px solid;position: relative;top: 85px;left: -156px;}

/*@media screen and (min-width: 1440px) {
    .slotMachine {width: 552px;height: 552px;border-radius: 50% 50%;}
}

!* 设置了浏览器宽度不大于1200px时 abc 显示的宽度 *!
@media screen and (max-width: 1440px) {
    .slotMachine {width:300px; height: 300px;border-radius: 50% 50%;}
    .luck-user{width:300px;}
}

!* 设置了浏览器宽度不大于901px时 abc 显示的宽度 *!
@media screen and (max-width: 901px) {
    .slotMachine{ width:300px; height: 300px; border-radius: 50% 50%;}
    .luck-user{width:300px;}
}*/



.slotMachine .slot{ width:100%; height:100%; background-size: cover; background-position: center; position: absolute;border-radius: 50% 50%}

.slotMachine .slot>span{position: absolute; bottom: 0; left: 0; line-height: 100px; text-decoration: center; background-color: rgba(0,0,0,.5); width: 100%;font-size: 50px;}

::-webkit-scrollbar{width: 10px;  height: 16px;  border-radius: 6px;}
::-webkit-scrollbar-track{border-radius:6px;  background-color: rgba(255,255,255,.2);}
::-webkit-scrollbar-thumb{border-radius: 6px;  background-color: #fff;}

.luck-img{width: 100%; padding-top: 100%; background-position: center; background-size: cover;}
